<div class="container">
    <div class="row">
        <div class="span12">
            <h4>About</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla maxime rem non autem labore sint placeat. Non voluptas ipsam ut natus earum quisquam perferendis culpa architecto accusamus illo laboriosam rerum!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tempora accusamus nostrum quis facilis facere reprehenderit perspiciatis ea alias odio libero maiores eveniet ut sapiente eligendi maxime iure impedit unde.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla maxime rem non autem labore sint placeat. Non voluptas ipsam ut natus earum quisquam perferendis culpa architecto accusamus illo laboriosam rerum!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tempora accusamus nostrum quis facilis facere reprehenderit perspiciatis ea alias odio libero maiores eveniet ut sapiente eligendi maxime iure impedit unde.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla maxime rem non autem labore sint placeat. Non voluptas ipsam ut natus earum quisquam perferendis culpa architecto accusamus illo laboriosam rerum!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tempora accusamus nostrum quis facilis facere reprehenderit perspiciatis ea alias odio libero maiores eveniet ut sapiente eligendi maxime iure impedit unde.</p>
        </div>
    </div>
</div>
