<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            {{#linkTo 'index' class='brand'}}Bloggr{{/linkTo}}
            <ul class="nav">
                <li>{{#linkTo 'posts'}}Posts{{/linkTo}}</li>
                <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
                <li><a href="https://github.com/gcollazo/ember-bloggr">Source</a></li>
            </ul>
        </div>
    </div>
</div>
{{outlet}}
